body
{
  font-family: Consolas, fixed-width;
  size: 1em;
}
h1, h2, h3
{
  margin: 2px;
  padding: 2px;
}
.sound
{
  background: #eefcff;
  border: 2px solid #000;
  float: left;
  margin: 3px;
  padding: 8px 10px 8px 6px;
  width: 250px;
}
.sound > *
{
  clear: left;
  float: left;
}
.sound input[type="file"]
{
  border: 2px solid #00a6ce;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sound input[type='range']
{
  width: 100%;
}
.sound button:last-of-type
{
  clear: none;
}
.sound label
{
  clear: none;
  padding: 4px;
}
.ctrl-row div
{
  background: #eef;
  float: left;
}
.ctrl-label
{
  clear: left;
  padding: 4px;
  text-align: right;
  height: 20px;
  width: 100px;
}
.ctrl-input
{
  padding: 4px;
  height: 20px;
  width: 240px;
}
