.color-primary-1 { color: #081C4B }
.color-primary-2 { color: #2E4373 }
.color-primary-3 { color: #6E7C9C }
.color-primary-4 { color: #D1D1D1 }

/* Basic HTML elements */
body
{
  background: #F0F1FF;
  font-family: Consolas, fixed-width;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #BD7F13;
}
a:hover {
  color: #CA5B16;
}
h1, h2, h3
{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
button {
  background: #88A7EC;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 4px 4px;
  text-transform: uppercase;
}
button:hover {
  background: #C3D4FD;
}
button:disabled {
  background: #ccc;
  background: linear-gradient(358deg, #ccc, #eee);
  border: 2px solid #d6d6d6;
  -webkit-box-shadow: 3px 3px 2px 1px #eee;
  box-shadow: 2px 2px 1px 1px #eee;
  color: #aaa;
  cursor: auto;
}

/* Main Structure */
div#audiohash-app {
  width: 100%;
}
header {
  background: #081C4B;
  border-bottom: 1px solid #000;
  color: #D1D1D1;
  display: block;
  margin: 0;
  max-height: 56px;
  min-height: 36px;
  padding: 2px 10px;
}
  header h1 {
    float: left;
    margin: 6px 2px 2px 0;
  }
  nav {
    color: #fff;
    float: left;
    left: 10px;
    padding: 5px 0 0 0;
    position: relative;
  }
  nav button {
    float: left;
  }
  nav button:hover {
    text-decoration: none;
  }
  nav button::selection {
    background: auto;
  }
  nav fieldset {
    background: #fff;
    border: 2px solid #ddd;
    border-top: none;
    clear: left;
    color: #000;
    display: none;
    float: left;
    font-size: 0.7em;
    padding: 5px;
    position: absolute;
    top: 32px;
    width: 185px;
    z-index: 10000;
  }
  nav fieldset#options-main {
    left: -120px;
  }
  nav label {
    clear: left;
    float: left;
  }
  nav input,
  nav span {
    float: left;
    position: relative;
  }
  nav input[type=checkbox] {
    height: 18px;
    margin-left: 4px;
    margin-right: 3px;
    top: 2px;
    width: 18px;
  }
  nav input#rngSampleSize
  {
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    top: 2px;
    width: 45px;
  }
  nav input#txtSampleSize
  {
    width: 20px;
  }
  nav input#txtSampleSize:after {
    content: " s";
    float: left;
  }
  nav input[type=text],
  nav input[type=number] {
    margin-left: 4px;
    top: 2px;
    width: 40px;
  }
  header span {
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 9px 1px 10px 13px;
  }
  header div#help-square {
    background: #fff;
    border: 1px solid #163B5E;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    color: #000;
    display: none;
    font-size: 0.9em;
    padding: 5px 10px 0;
    position: fixed;
    right: 5px;
    text-align: left;
    top: 35px;
    width: 300px;
    z-index: 3000;
  }
  header div#help-square ol {
    margin-bottom: 2px;
  }
  header a#help-link {
    display: block;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    height: 10px;
    position: relative;
    right: 0;
    top: 5px;
    width: 20px;
    text-decoration: none;
  }
div#sub-header {
  background: #273C6E;
  border-bottom: 1px solid #777;
  clear: left;
  color: #D1D1D1;
  margin: 0;
  padding: 5px 10px;
}
section#dashboard {
  background: #BEC7DD;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  clear: left;
  padding: 8px 10px 5px;
}
  section#dashboard-inner {
    clear: both;
    margin: 0;
    max-height: 100px;
    min-height: 30px;
    padding: 0;
  }
  section#soundPlayersCount {
    clear: left;
    float: left;
    padding: 3px 10px 3px 0;
  }
  section#buttons {
    float: left;
    margin: 0;
  }
    section#buttons a#linkDownloadSampler
    {
      background: #82C5F2;
      border: 1px solid #000;
      -webkit-box-shadow: 1px 1px 1px 1px #555;
      box-shadow: 1px 1px 1px 1px #555;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #111;
      cursor: pointer;
      display: none;
      font-family: Arial;
      font-size: 0.8em;
      font-weight: bold;
      padding: 5px 4px 4px;
      text-decoration: none;
    }
    section#buttons a#linkDownloadSampler:hover {
      background: #BCE0F8;
    }
}

/* Main Sections */
section#soundPlayers
{
  background: red;
  clear: both;
  float: none;
  min-height: 200px;
  margin: 0;
  min-width: 500px;
  padding: 5px;
  width: 100%;
}
section#hex-dump
{
  clear: both;
  display: none;
  padding: 5px;
}
  section#hex-dump #hex-dump-contents
  {
    height: 300px;
    width: 600px;
  }

/* Classes */
.sound
{
  background: #fefefe;
  box-sizing: border-box;
  clear: left;
  float: left;
  margin: 0;
  min-width: 100px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.sound > *
{
  clear: left;
  float: left;
}
.sound .sound-header,
.sound .sound-status,
.sound .sound-info {
  box-sizing: border-box;
}
.sound .sound-header {
  background: #444;
  color: #fff;
  font-size: 1.4em;
  left: -5px;
  margin: 0;
  max-width: 100%;
  padding: 5px;
  width: 100%;
}
  .sound-destroyer {
    float: right;
    font-family: Consolas, fixed-width;
    font-size: 1.2em;
    font-weight: bold;
    height: 24px;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 24px;
  }
  .sound-destroyer:hover {
    background: #555;
    cursor: pointer;
  }
  .sound-destroyer:hover a {
    color: #f00;
  }
  .sound-destroyer a {
    color: #fff;
    left: 7px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: 2px;
  }
  .sound-destroyer a:hover {
    color: #f00;
    cursor: pointer;
  }
.sound .sound-status {
  background: #555;
  color: #fff;
  font-size: 0.75em;
  margin: 0;
  padding-left: 5px;
  width: 100%;
}
.sound .sound-info
{
  background: #666;
  color: #fff;
  font-size: 0.75em;
  margin: 0 0 2px;
  padding-left: 5px;
  width: 100%;
}

.sound.loaded
{
  background: #f3f4ec;
  border: 2px solid #b4a72c;
}
  .sound.loaded .sound-header
  {
    background: #717711;
  }
  .sound.loaded .sound-status
  {
    background: #8f8a1b;
  }
  .sound.loaded .sound-info
  {
    background: #a59f23;
  }
  .sound.loaded label
  {
    background: #717711;
  }
.sound.playing
{
  background: #ECF4EE;
  border: 2px solid #2CB43C;
}
  .sound.playing .sound-header
  {
    background: #117719;
  }
  .sound.playing .sound-status
  {
    background: #1B8F1D;
  }
  .sound.playing .sound-info
  {
    background: #22a924;
  }
  .sound.playing label
  {
    background: #1B8F1D;
  }
.sound input[type="file"]
{
  font-size: 0.9em;
  margin: 0;
  padding: 8px;
}
.sound input[type='range']
{
  clear: left;
  float: left;
  margin: 5px 8px;
  padding: 0;
  width: 90px;
}
.sound label
{
  background: #555;
  color: #fff;
  clear: none;
  float: left;
  left: -2px;
  padding: 0 1px;
  position: relative;
  top: 3px;
}
.sound button {
  clear: none;
  float: left;
  margin: 5px 0 5px 8px;
  position: relative;
  top: -4px;
}
.sound button:last-of-type
{
  clear: none;
  margin-left: 4px;
}

.ctrl-row div
{
  background: #eef;
  float: left;
}
.ctrl-label
{
  clear: left;
  padding: 4px;
  text-align: right;
  height: 20px;
  width: 100px;
}
.ctrl-input
{
  padding: 4px;
  height: 20px;
  width: 240px;
}
footer {
  background: #2E4373;
  clear: left;
  color: #D1D1D1;
  padding: 10px;
}
