.color-primary-1 { color: #081C4B }
.color-primary-2 { color: #2E4373 }
.color-primary-3 { color: #6E7C9C }
.color-primary-4 { color: #D1D1D1 }

/* Basic HTML elements */
body
{
  background: #F0F1FF;
  font-family: Consolas, fixed-width;
  font-size: 1em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #BD7F13;
}
a:hover {
  color: #CA5B16;
}
h1, h2, h3
{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

/* Main Structure */
div#admixt-app {
  width: 100%;
}
header {
  background: #081C4B;
  border-bottom: 1px solid #000;
  color: #D1D1D1;
  display: block;
  margin: 0;
  max-height: 56px;
  min-height: 36px;
  padding: 2px 10px;
}
  header h1 {
    float: left;
    margin-right: 7px;
  }
  header span {
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 9px 1px 10px 13px;
  }
  header div#help-square {
    background: #fff;
    border: 1px solid #163B5E;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
    color: #000;
    display: none;
    font-size: 0.9em;
    padding: 2px 10px;
    position: fixed;
    right: 5px;
    text-align: left;
    width: 300px;
    z-index: 3000;
  }
  header a#help-link {
    display: block;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    height: 10px;
    position: relative;
    top: -30px;
    width: 30px;
    text-decoration: none;
  }
div#sub-header {
  background: #273C6E;
  border-bottom: 1px solid #777;
  clear: left;
  color: #D1D1D1;
  margin: 0;
  padding: 5px 10px;
}
section#dashboard {
  background: #BEC7DD;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  clear: left;
  padding: 8px 10px 5px;
}
  section#dashboard-inner {
    clear: both;
    margin: 0;
    max-height: 100px;
    min-height: 30px;
    padding: 0;
  }
  section#soundPlayersCount {
    clear: left;
    float: left;
    padding: 3px 10px 3px 0;
  }
  section#buttons {
    float: left;
    margin: 0;
  }
    section#buttons button, 
    section#soundSamplerControls button {
      background: #88A7EC;
      border: 1px solid #000;
      -webkit-box-shadow: 1px 1px 1px 1px #000000;
      box-shadow: 1px 1px 1px 1px #000000;
      color: #111;
      cursor: pointer;
      font-weight: bold;
      padding: 4px;
    }
    section#buttons button:hover, 
    section#soundSamplerControls button:hover {
      background: #C3D4FD;
    }
    section#buttons a#linkDownloadSampler
    {
      display: none;
    }
footer {
  background: #2E4373;
  clear: left;
  color: #D1D1D1;
  padding: 10px;
}

/* Main Sections */
section#soundSamplerControls
{
  background: #F1F1F1;
  clear: left;
  margin: 0;
  padding: 8px;
  width: auto;
}
  section#soundSamplerControls label
  {
    font-size: 0.9em;
    line-height: 1.9em;
  }
  section#soundSamplerControls input[type=checkbox] {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
  }
  section#soundSamplerControls input#rngSampleSize
  {
    height: 20px;
    position: relative;
    top: 5px;
    width: 80px;
  }
  section#soundSamplerControls input#txtSampleSize
  {
    width: 20px;
  }
section#soundPlayers
{
  clear: left;
  float: left;
  margin: 2px;
  padding: 5px;
}
section#hex-dump
{
  clear: both;
  display: none;
  padding: 5px;
}
  section#hex-dump #hex-dump-contents
  {
    height: 300px;
    width: 600px;
  }

/* Classes */
.sound
{
  background: #fefefe;
  border: 2px solid #777;
  float: left;
  margin: 3px;
  padding: 0 8px 3px 0;
  width: 200px;
}
.sound > *
{
  clear: left;
  float: left;
}
.sound .sound-header {
  background: #444;
  color: #fff;
  margin: 0;
  padding: 2px 5px;
  width: 99%;
}
  .sound-destroyer {
    background: #222;
    border: 2px solid #000;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    height: 15px;
    left: 2px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 15px;
  }
  .sound-destroyer:hover {
    background: #555;
  }
  .sound-destroyer:hover a {
    color: #f00;
  }
  .sound-destroyer a {
    color: #fff;
    left: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: -1px;
  }
  .sound-destroyer a:hover {
    color: #f00;
  }
.sound .sound-status {
  background: #555;
  color: #fff;
  font-size: 0.75em;
  margin: 0;
  padding: 2px 5px;
  width: 99%;
}
.sound .sound-info
{
  background: #666;
  color: #fff;
  font-size: 0.75em;
  margin: 0 0 7px;
  padding: 2px 5px;
  width: 99%;
}

.sound.loaded
{
  background: #f3f4ec;
  border: 2px solid #b4a72c;
}
  .sound.loaded .sound-header
  {
    background: #717711;
  }
  .sound.loaded .sound-status
  {
    background: #8f8a1b;
  }
  .sound.loaded .sound-info
  {
    background: #a59f23;
  }
  .sound.loaded label
  {
    background: #717711;
  }
.sound.playing
{
  background: #ECF4EE;
  border: 2px solid #2CB43C;
}
  .sound.playing .sound-header
  {
    background: #117719;
  }
  .sound.playing .sound-status
  {
    background: #1B8F1D;
  }
  .sound.playing .sound-info
  {
    background: #22a924;
  }
  .sound.playing label
  {
    background: #1B8F1D;
  }
.sound input[type="file"]
{
  margin: 0;
  padding: 8px;
  width: 90%;
}
.sound input[type='range']
{
  clear: left;
  float: left;
  margin: 5px 8px 5px 8px;
  padding: 0;
  width: 145px;
}
.sound label
{
  background: #555;
  color: #fff;
  clear: none;
  float: left;
  padding: 5px;
}
.sound button {
  margin: 5px 0 5px 8px;
}
.sound button:last-of-type
{
  clear: none;
  margin-left: 4px;
}
.ctrl-row div
{
  background: #eef;
  float: left;
}
.ctrl-label
{
  clear: left;
  padding: 4px;
  text-align: right;
  height: 20px;
  width: 100px;
}
.ctrl-input
{
  padding: 4px;
  height: 20px;
  width: 240px;
}
