/* Basic HTML elements */
body
{
  background: #fed;
  font-family: Consolas, fixed-width;
  font-size: 1em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3
{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

/* Main Structure */
div#sspapp {

}
header {
  background: #f88;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 5px 10px;
}
div#sub-header {
  background: #fcb;
  border-bottom: 1px solid #777;
  margin: 0;
  padding: 5px 10px;
}
footer {
  background: #fdc;
  clear: left;
  padding: 10px;
}

/* Sections */
section#dashboard {
  background: #f4d244;
  border-bottom: 1px solid #aaa;
  padding: 5px 10px;
}
  section#dashboard-inner {
    clear: both;
    margin: 0;
    max-height: 100px;
    min-height: 30px;
    padding: 0;
  }
  section#buttons {
    clear: left;
    float: left;
    margin: 0;
  }
    section#buttons button {
      background: #faa;
      border: 1px solid #000;
      -webkit-box-shadow: 1px 1px 1px 1px #000000;
      box-shadow: 1px 1px 1px 1px #000000;
      color: #111;
      cursor: pointer;
      font-weight: bold;
      padding: 4px;
    }
    section#buttons button:hover {
      background: #fbb;
    }
  section#soundPlayersCount {
    float: left;
    padding: 5px 10px;
  }
section#soundSamplerControls
{
  clear: left;
  float: left;
  margin: 2px;
  padding: 5px;
}
  section#soundSamplerControls input#rngSampleSize
  {
    width: 80px;
  }
  section#soundSamplerControls input#txtSampleSize
  {
    width: 20px;
  }
  section#soundSamplerControls a#linkDownloadSSP
  {
    display: none;
  }
section#soundPlayers
{
  clear: left;
  float: left;
  margin: 2px;
  padding: 5px;
}

/* Classes */
.sound
{
  background: #fefefe;
  border: 2px solid #777;
  float: left;
  margin: 3px;
  padding: 0 8px 3px 0;
  width: 245px;
}
.sound > *
{
  clear: left;
  float: left;
}
.sound .sound-header {
  background: #444;
  color: #fff;
  margin: 0;
  padding: 2px 5px;
  width: 99%;
}
.sound .sound-status {
  background: #555;
  color: #fff;
  font-size: 0.75em;
  margin: 0 0 7px;
  padding: 2px 5px;
  width: 99%;
}
.sound.activated
{
  background: #ECF4EE;
  border: 2px solid #2CB43C;
}
.sound.activated .sound-header
{
  background: #117719;
}
.sound.activated .sound-status
{
  background: #1B8F1D;
}
.sound input[type="file"]
{
  margin: 0;
  padding: 8px;
  width: 90%;
}
.sound input[type='range']
{
  clear: left;
  float: left;
  margin: 5px 8px 5px 8px;
  padding: 0;
  width: 190px;
}
.sound label
{
  background: #CDF4FD;
  clear: none;
  float: left;
  padding: 5px;
}
.sound button {
  margin: 5px 0 5px 8px;
}
.sound button:last-of-type
{
  clear: none;
  margin-left: 4px;
}
.ctrl-row div
{
  background: #eef;
  float: left;
}
.ctrl-label
{
  clear: left;
  padding: 4px;
  text-align: right;
  height: 20px;
  width: 100px;
}
.ctrl-input
{
  padding: 4px;
  height: 20px;
  width: 240px;
}
