/* Classes */
.sound {
  background: #fefefe;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 165px;
  min-width: 100px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 576px) {
  .sound {
    border: 2px solid #333;
  }
}

.sound > * {
  clear: left;
  float: left;
}

.sound.hovered-over {
  border: 2px dashed #b4a72c;
}
.sound.hovered-over > * {
  pointer-events: none;
}
.sound.hovered-over .sound-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sound.loaded {
  background: #f3f4ec;
  border-bottom: 2px solid #b4a72c;
  border-right: 2px solid #b4a72c;
}
.sound.loaded .sound-header,
.sound.loaded .sound-status,
.sound.loaded .sound-info {
  color: #fff;
}
.sound.loaded .sound-header {
  background: #717711;
}
.sound.loaded .sound-status {
  background: #8f8a1b;
}
.sound.loaded .sound-info {
  background: #a59f23;
}
.sound.loaded label {
  background: #717711;
}

.sound.playing {
  background: #ecf4ee;
  border-bottom: 2px solid #2cb43c;
  border-right: 2px solid #2cb43c;
}
.sound.playing .sound-header,
.sound.playing .sound-status,
.sound.playing .sound-info {
  color: #fff;
}
.sound.playing .sound-header {
  background: #117719;
}
.sound.playing .sound-status {
  background: #1b8f1d;
}
.sound.playing .sound-info {
  background: #22a924;
}
.sound.playing label {
  background: #1b8f1d;
}

.sound .sound-overlay {
  background-color: #ffffffc8;
  border: 2px dashed #b4a72c;
  display: none;
  height: 161px;
  position: absolute;
  width: 316px;
  z-index: 1;
}
.sound .sound-overlay p {
  padding: 2em;
}

.sound .sound-header,
.sound .sound-status,
.sound .sound-info {
  box-sizing: border-box;
}
.sound .sound-header {
  background: #444;
  color: #888;
  font-size: 1.4em;
  left: 0;
  margin: 0;
  max-width: 100%;
  padding: 1rem 1rem 0;
  position: relative;
  width: 100%;
}
@media (min-width: 576px) {
  .sound .sound-header {
    padding-top: 0.35rem;
  }
}
.sound .sound-header span {
  display: block;
  float: left;
  font-size: 1.85rem;
  padding-right: 0.25em;
}
@media (min-width: 576px) {
  .sound .sound-header span {
    font-size: 2rem;
  }
}
.sound .sound-header button {
  background-color: #626262;
  clear: none;
  color: #484848;
  float: left;
  height: 22px;
  margin: 5px;
  position: relative;
  top: -5px;
  width: 32px;
}
@media (min-width: 576px) {
  .sound .sound-header button {
    top: -3px;
  }
}
.sound .sound-header button:not(:disabled) {
  background-color: #ffffff;
  color: #000;
}
@media (hover: hover) {
  .sound .sound-header button:not(:disabled):hover {
    background: #eee;
    border: 1px solid #333;
    color: #000;
  }
}
.sound .sound-header button:last-of-type {
  clear: none;
  margin-left: 4px;
}
.sound .sound-header .sound-destroyer {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  right: 25px;
  top: -5px;
}
@media (min-width: 576px) {
  .sound .sound-header .sound-destroyer {
    top: -2px;
  }
}
@media (hover: hover) {
  .sound .sound-header .sound-destroyer:hover {
    background: #555;
    cursor: pointer;
  }
  .sound .sound-header .sound-destroyer:hover a {
    color: #f00;
  }
}
.sound .sound-header .sound-destroyer a {
  color: #fff;
  left: 7px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  top: 2px;
}
@media (hover: hover) {
  .sound .sound-header .sound-destroyer a:hover {
    color: #f00;
    cursor: pointer;
  }
}

.sound .sound-status,
.sound .sound-info {
  color: #888;
  font-size: 0.75em;
  margin: 0;
  padding: 0.3rem 1rem;
  width: 100%;
}
/* @media (min-width: 576px) {
      .sound .sound-status,
      .sound .sound-info {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    } */

.sound .sound-status {
  background: #555;
}
.sound .sound-info {
  background: #666;
}
.sound.loaded .sound-info {
  color: #fff;
}

.sound .sound-upload {
  padding: 0.5rem 1rem 0.25rem;
}
.sound .sound-upload input[type='file'] {
  font-size: 0.9em;
  margin: 5px 0;
  padding: 0;
}
/* @media (min-width: 576px) {
        .sound .sound-upload input[type="file"] {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      } */

.sound input[type='range'] {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sound label {
  background: #555;
  color: #fff;
  padding: 2px 4px;
}
.sound .sound-volume-row,
.sound .sound-snippet-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
}
/* @media (min-width: 576px) {
      .sound .sound-volume-row,
      .sound .sound-snippet-row {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    } */

.sound .sound-volume-row {
  padding-bottom: 2px;
}
.sound .sound-snippet-row {
  padding-top: 0;
}

.sound .control-label {
  font-size: 1.2rem;
  min-width: 110px;
}
.sound .amount-label {
  font-size: 1.4rem;
  margin-left: 1em;
}

.ctrl-label {
  clear: left;
  height: 20px;
  padding: 4px;
  text-align: right;
  width: 100px;
}
.ctrl-input {
  height: 20px;
  padding: 4px;
  width: 240px;
}
